PORT=4173
DATA_DIR=./runtime-data
ADMIN_USERNAME=Gokotta
ADMIN_PASSWORD=change-this-before-public-deploy
ADMIN_RESET_PASSWORD_ON_START=false
ALLOW_HARD_DELETE=false
MAX_BACKUP_AGE_HOURS=26
OFFSITE_BACKUP_TARGET=
OFFSITE_BACKUP_MODE=rsync
SITE_URL=http://81.71.156.122:4173
